# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TWBot.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Programming\F#\TWBot\.idea\.idea.TWBot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
